<f:layout name="SystemEmail" />
<f:section name="Title">{headline}</f:section>
<f:section name="Main">
    <f:if condition="{introduction}">
        <h4>{introduction}</h4>
    </f:if>
    <table width="600" cellpadding="0" cellspacing="0" border="0">
		<formvh:renderAllFormValues renderable="{form.formDefinition}" as="formValue">
			<tr>
				<td width="600" valign="top" align="left">{formvh:translateElementProperty(element: formValue.element, property: 'label')}</td>
				<td width="600" valign="top" align="left">
					<f:if condition="{formValue.value}">
						<f:then>
							<f:if condition="{formValue.isMultiValue}">
								<f:then>
									<table cellspacing="0" border="0">
										<f:for each="{formValue.processedValue}" as="value">
											<tr>
												<td>{value}</td>
											</tr>
										</f:for>
									</table>
								</f:then>
								<f:else>
									<table cellspacing="0" border="0">
										<tr>
											<td><f:format.nl2br>{formValue.processedValue}</f:format.nl2br></td>
										</tr>
									</table>
								</f:else>
							</f:if>
						</f:then>
						<f:else>
							-
						</f:else>
					</f:if>
				</td>
			</tr>
		</formvh:renderAllFormValues>
	</table>
</f:section>