/* ----------------------------------------------------------------- *\
    navigation
\* ----------------------------------------------------------------- */

header nav * {
  font-family:'Open Sans';
}
header.navbar-mainnavigation {
  box-shadow:none;
}

/* brand logo */
header.navbar-mainnavigation .navbar-brand-image img {
    max-height: 100%;
}
header.navbar-mainnavigation a.navbar-brand.navbar-brand-image {
  padding-bottom:5px;
  margin-right:30px;
}


/* language menu */
header nav ul.language-menu {
  font-family:'Open Sans';
  font-size:12px;
  margin:100px 0 0 0; 
  width:100% !important; 
  text-align:right;
}
header nav ul.language-menu li {
  list-style:none;
  display:inline;
  padding:5px;
}
header nav ul.language-menu li a {
  color:#8e7d4e !important; 
  text-decoration:none !important;
}
header nav ul.language-menu li.text-muted {
  display:none;
}
header nav ul.language-menu li.active {
  background:#8e7d4e !important; 
}
header nav ul.language-menu li.active a { 
  color:#fefefe !important;
}

/* navbar general */
header nav ul.navbar-nav {
  margin-top:100px;
  margin-left:0 !important;
}

/* navbar general - when collapsed */
@media screen and (max-width: 991px) {
    header nav ul.navbar-nav {
        margin-top:20px;
    }

    header nav ul.language-menu {
      /*display:none;*/
      margin-top:10px;
      margin-bottom:10px;
    }
}


/* top menu entry container - padding */
/*ul.navbar-nav li a[title="Shop"],*/
header nav ul.navbar-nav li.dropdown {
  padding:0 !important;
}

header nav ul.navbar-nav li.dropdown a:hover {
  text-decoration:none;
}

/* top menu entry */
/*ul.navbar-nav li a[title="Shop"],*/
header nav ul.navbar-nav li.dropdown a.dropdown-toggle span {
  font-family:'Open Sans';
  border-bottom:4px solid transparent;
  box-shadow:none;
}

.navbar-mainnavigation .navbar-nav > li > .nav-link::before {
  
  background:none !important;
}

/* top menu entry */
/*ul.navbar-nav li a[title="Shop"],*/
header nav ul.navbar-nav li.dropdown a.dropdown-toggle {
  /*font-family:'Open Sans';*/
  font-size:20px;
  font-weight:100;
  letter-spacing:0; 
  text-transform:none;
  color:#8e7d4e !important;
  line-height:40px;
  /*padding:0; */
  padding-bottom:0;
}

/* active top menu entry */
header nav ul.navbar-nav li.active.dropdown a span {
  border-bottom:4px solid #8e7d4e;
}

header nav ul.navbar-nav li.dropdown.show a {
  background:#8e7d4e;
}

header nav ul.navbar-nav li.dropdown a.dropdown-item.active span {
  text-decoration:underline;
}

/* top menu entry - mouseover */
header nav ul.navbar-nav li a:hover,
header nav ul.navbar-nav li.dropdown a.dropdown-toggle:hover {
  color:#8e7d4e;
}

/* top menu entry, when submenu is open */
header nav ul.navbar-nav li.dropdown.show a.dropdown-toggle {
  color:#fefefe !important;
  background:#8e7d4e;
}

header nav ul.navbar-nav li.dropdown.show {
  background:#8e7d4e;
}

/* dropdown submenu */
header nav ul.navbar-nav ul.dropdown-menu {
  background:#8e7d4e;
  border:none !important;
  border-radius: 0;
}

/* dropdown submenu link */
header nav ul.navbar-nav ul.dropdown-menu li a {
  font-size:16px; 
  letter-spacing:1px;
  color:#fff !important;
  line-height:26px;
}

/* dropdown submenu link - mouseover */
header nav ul.navbar-nav ul.dropdown-menu li a:hover {
  text-decoration:underline;
  background:none;
}

/* active submenu entry */
header nav ul.navbar-nav li.dropdown li.active a {
  background:#8e7d4e !important;
  text-decoration:underline !important;
}

@media screen and (max-width : 991px) {
header nav ul.navbar-nav li a span {
  padding-left:4px;
  border-left:4px solid #fff;
  }
header nav ul.navbar-nav li.active.dropdown a span {
  /*border-left:4px solid #8e7d4e;*/
   border-bottom:4px solid transparent;
  /*padding-left:4px;*/
}
header nav ul.navbar-nav li.dropdown.show a span {
  border-left:4px solid transparent;
  border-bottom:4px solid transparent;
  /*padding-left:4px;*/
}
}
