header nav * {
  font-family: 'Open Sans';
}

header.navbar-mainnavigation {
  box-shadow: none;
}

/* language menu */
header nav ul.language-menu {
  font-family: 'Open Sans';
  font-size: 12px;
  width: 150px;
  text-align: right;
}

header nav ul.language-menu li {
  list-style: none;
  display: inline;
  padding: 5px;
}

header nav ul.language-menu li a {
  color: #8e7d4e !important;
  text-decoration: none !important;
}

/* navbar when collapsed */
@media screen and (max-width: 991px) {
  header nav ul.language-menu {
    width: 100%;
    margin-top: 100px;
  }
}

header nav ul.language-menu li.text-muted {
  display: none;
}

header nav ul.language-menu li.active {
  background: #8e7d4e !important;
}

header nav ul.language-menu li.active a {
  color: #fefefe !important;
}

/* navbar general */
header nav.collapse.navbar-collapse ul.navbar-nav li.nav-item a.nav-link.nav-link-main:hover {
  text-decoration: none;
}

header nav.collapse.navbar-collapse ul.navbar-nav li.nav-item a.nav-link.nav-link-main {
  color: #8e7d4e !important;
}

/* mainnav dropdown */
.dropdown-menu {
	border-radius: 0;
}