header nav * {
  font-family: 'Open Sans';
}

header.navbar-mainnavigation {
  box-shadow: none;
}

/* language menu */
header nav ul.language-menu {
  font-family: 'Open Sans';
  font-size: 12px;
  width: 150px;
  text-align: right;
}

header nav ul.language-menu li {
  list-style: none;
  display: inline;
  padding: 5px;
}

header nav ul.language-menu li a {
  color: #8e7d4e !important;
  text-decoration: none !important;
}

/* navbar when collapsed */
@media screen and (max-width: 991px) {
  header nav ul.language-menu {
    width: 100%;
    margin-top: 100px;
  }
}

header nav ul.language-menu li.text-muted {
  display: none;
}

header nav ul.language-menu li.active {
  background: #8e7d4e !important;
}

header nav ul.language-menu li.active a {
  color: #fefefe !important;
}

/* navbar general */
header.bp-page-header.navbar.navbar-mainnavigation.navbar-default.navbar-has-image.navbar-top div.container.container-mainnavigation nav.collapse.navbar-collapse ul.navbar-nav li.nav-item.nav-style-mega a.nav-link.nav-link-main:hover {
  text-decoration: none;
}

header.bp-page-header.navbar.navbar-mainnavigation.navbar-default.navbar-has-image.navbar-top div.container.container-mainnavigation nav.collapse.navbar-collapse ul.navbar-nav li.nav-item.nav-style-mega a.nav-link.nav-link-main span.nav-link-text {
  color: #8e7d4e !important;
}


/* active top menu entry */
header nav ul.navbar-nav li.active.dropdown a span {
  border-bottom: 4px solid #8e7d4e;
}

.navbar-mainnavigation {
  --mainnavigation-hightlight: #8e7d4e;
}

header nav ul.navbar-nav li.dropdown.show a {
  background: #8e7d4e;
}

header nav ul.navbar-nav li.dropdown a.dropdown-item.active span {
  text-decoration: underline;
}

/* top menu entry - mouseover */
header nav ul.navbar-nav li a:hover,
header nav ul.navbar-nav li.dropdown a.dropdown-toggle:hover {
  color: #8e7d4e;
}

/* top menu entry, when submenu is open */
header nav ul.navbar-nav li.dropdown.show a.dropdown-toggle {
  color: #fefefe !important;
  background: #8e7d4e;
}

header nav ul.navbar-nav li.dropdown.show {
  background: #8e7d4e;
}

/* dropdown submenu */
header nav ul.navbar-nav ul.dropdown-menu {
  background: #8e7d4e;
  border: none !important;
  border-radius: 0;
}

/* dropdown submenu link */
header nav ul.navbar-nav ul.dropdown-menu li a {
  color: #ffffff !important;
}

/* dropdown submenu link - mouseover */
header nav ul.navbar-nav ul.dropdown-menu li a:hover {
  text-decoration: underline;
  background: none;
}

/* active submenu entry */
header nav ul.navbar-nav li.dropdown li.active a {
  background: #8e7d4e !important;
  text-decoration: underline !important;
}

@media screen and (max-width : 991px) {
  header nav ul.navbar-nav li a span {
    padding-left: 4px;
    border-left: 4px solid #fff;
  }

  header nav ul.navbar-nav li.active.dropdown a span {
    border-bottom: 4px solid transparent;
  }

  header nav ul.navbar-nav li.dropdown.show a span {
    border-left: 4px solid transparent;
    border-bottom: 4px solid transparent;
  }
}